include ./header.jade
//- h3 Gallery
//- ul
//-   each pic in pics
//-     li Author: #{pic.dataValues.author}
//-     li Link: #{pic.link}
//-     li Description: #{pic.description}
//-     li
div.big_pic_container
  a(href='/gallery/4')
    img(src='#{main_pic.link}')
div.line_separator

div.thumbnail_row_div
  each pic in pics
    div.thumbnail
      a(href='/gallery/#{pic.id}')
        img(class='thumb_img' src='#{pic.link}')
      div.thumbnail_desc
        p #{pic.description}